.mobile {
    display: none;
  }

  .fa-bars {
    color: rgb(77, 51, 46) !important;
  }

  #mobile-navbar {
    position: fixed;
    top: 0;
    width: 100%;
    display: block;
    transition: top 0.3s;
  }

  #logo {
      width: 100%;
  }

  .hide {
    display: none !important;
  }

  .logo h1 {
    font-size: 24px !important;
    color: rgb(111, 65, 42);
  }

  h1 {
    color: rgb(111, 65, 42);
  }
  
  html, body {
    font-family: 'SFFlorenceSans';
    background-color: lightgray;

  }

  a {
    text-decoration: none !important;
  }



  /* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.upside-down-triangle {
  width: 0;
  height: 0;
  border-left: 20px solid transparent; /* Adjust size as needed */
  border-right: 20px solid transparent;
  border-top: 40px solid black; /* Adjust color and size as needed */
}

  section, .page_top_div {
    min-height: 100vh; 
}

.written_sermon_banner, .teaching_banner {
  min-height: 40vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
}

#writ_ser_ban_1 {
  background-image: url('./psalm_40_and_testimony.jpg');
  background-position-y: 50%;
}

#writ_ser_ban_2 {
  background-image: url('./loving_self_through_jesus.jpg');
  background-position-y: 60%;
}

#writ_ser_ban_3 {
  background-image: url('./heart_of_thanksgiving.jpg');
  background-position-y: 40%;
}

#writ_ser_ban_4 {
  background-image: url('./judgement_of_the_church.jpg');
  background-position-y: 15%;
}

#writ_ser_ban_5 {
  background-image: url('./power_in_the_blood.jpg');
  background-position-y: 10%;
}

#writ_ser_ban_6 {
  background-image: url('./walking_in_holiness.jpg');
  background-position-y: 30%;
}

/*Teachings Start*/

#teach_ban_1 {
  background-image: url('./2_peter_study.jpg');
  background-position-y: 45%;
}

#teach_ban_2 {
  background-image: url('./book_of_jude.jpg');
  background-position-y: 45%;
}

#teach_ban_3 {
  background-image: url('./bright_morning_star.jpg');
  background-position-y: 45%;
}

#teach_ban_4 {
  background-image: url('./gospel_of_john_8.jpg');
  background-position-y: 45%;
}

#teach_ban_5 {
  background-image: url('./mbc_notes_intro_book_of_acts.jpg');
  background-position-y: 45%;
}

#teach_ban_6 {
  background-image: url('./jehovah_jireh_study_on_gods_name.jpg');
  background-position-y: 44%;
}

#teach_ban_7 {
  background-image: url('./lion_of_tribe_of_judah.jpg');
  background-position-y: 30%;
}

#teach_ban_8 {
  background-image: url('./psalm_37.jpg');
  background-position-y: 62%;
}

#teach_ban_9 {
  background-image: url('./psalm_96.jpg');
  background-position-y: 60%;
}

#teach_ban_10 {
  background-image: url('./psalm_103.jpg');
  background-position-y: 5%;
}

#teach_ban_11 {
  background-image: url('./ruling_on_the_new_earth.jpg');
  background-position-y: 30%;
}

#teach_ban_12 {
  background-image: url('./study_on_1_peter.jpg');
  background-position-y: 45%;
}

#teach_ban_13 {
  background-image: url('./what_other_religions_think_about_heaven.jpg');
  background-position-y: 17%;
}



/*Teachings Stop*/

header .align-items-center { 
  width: 100%; 
  height: 100vh;
}

/*Home Page Start*/

.index_header {
    background-image: url('./banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

.index_faith {
  background-color: white;
}

.index_info {
  background-color: lightgrey;
}

.index_contact {
  background-color: lightslategray;
}

.index_info_title {
  color: rgb(111, 65, 42);
}

.contact_img {
  background-image: url("./contact_form.jpeg");
  height: 350px;
  background-size: cover;
  background-repeat: no-repeat;
}

.contact_body {
  background-color: white;
}

.contact_title {
  margin-top: 150px;
  color: #fff;
}

.welcome {
  color: #fff;
  font-size: 96px;
}

.bible_verse {
    color: white;
    margin-top: -125px;
}



  @font-face {
    font-family: 'SFFlorenceSans';
    font-weight: 100;
    src: url('./sfflorencesans.ttf');
  }

  @font-face {
    font-family: 'Tripolitania';
    font-weight: 100;
    src: url('./Tripolitania\ Handwritten\ \(FREE\).ttf');
  }

  @font-face {
    font-family: 'Malvinas';
    font-weight: 100;
    src: url('./Malvinas\ Signature\ \(Free\ Personal\ Use\).ttf');
  }

  nav li a {
    color: black;
    font-size: 16px !important;
    font-weight: 600;
  }

  nav li a:hover, a:hover, .nav-link:hover {

    color: goldenrod !important;
    transition: 0.3s linear;
  }

  nav {
    z-index: 1;
    height: auto;
    background-color: white !important;
  }

  .nav-link {
    color: rgb(111, 65, 42);
  }

  .web-nav {
    position: fixed;
    background-color: white;
    width: 100vw !important;
    padding-right: 0 !important;
  }

  .current, .active {
    color: goldenrod !important;
  }

  .navbar-collapse {
    background-color: white;
  }



  .hamburger {
    color: rgba(0,0,0,0.7);
    left: -270px;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
  }

  p {
    line-height: 1.8;
  }

  .accreditation {
    font-size: 14px;
  }

  figcaption {
    font-weight: bold;
  }


.welcome {
  color: #fff;
  font-size: 96px;
}

#accordion {
  width: 100% !important;
}

.btn-link {
  color: black;
  text-decoration: none !important;
}

iframe {
  height: 100vh;
}

.resource_card, .book_card {
  height: 100%;
}

footer {
    
    width: 100%;
    height: auto;
    margin-bottom: 0;
  }
  
  footer p {
    font-size: 12px;
  }


   /*Ranged Media Queries */
  
   @media (max-width: 320.98px){ 
   
    header .align-items-center { 
      width: 100%; 
      height: 92vh !important;
    }
  
    .enter {
      top: 90vh !important;
    }
  
  }
   
  @media (width: 321px) and (max-width: 359.98px) { 
   
    header .align-items-center { 
      width: 100%; 
      height: 85vh !important;
    }
  
    .enter {
      top: 85vh !important;
    }
  
  }
  
/* iPhone 5/SE */

@media (width: 320px) and (height: 568px) {

}


  /* Moto G4 and Galaxy S5*/

  @media (width: 360px) and (height: 640px) { 
   
    header .align-items-center { 
      width: 100%; 
      height: 95vh !important;
    }
  
    .enter {
      top: 90vh !important;
    }
    
  }
  
  /*Pixel 2*/
  @media (width: 411px) and (height: 731px) { 
   
    header .align-items-center { 
      width: 100%; 
      height: 95vh !important;
    }
  
    .enter {
      top: 90vh !important;
    }
  
  }
  

  /*Pixel 2 XL*/
  @media (width: 411px) and (height: 823px) { 
   
    header .align-items-center { 
      width: 100%; 
      height: 95vh !important;
    }
  
    .enter {
      top: 90vh !important;
    }
  
  }

  /* iPhone 6/7/8 */
  
  @media (width: 375px) and (height: 667px) { 
   
    header .align-items-center { 
      width: 100%; 
      height: 95vh !important;
    }
  
    .enter {
      top: 92vh !important;
    }
  
  }
  
  /* iPhone X */
  @media (width: 375px) and (height: 812px) { 
   
    header .align-items-center { 
      width: 100%; 
      height: 812px !important;
    }
  
    .enter {
      top: 92vh !important;
    }
  
  }
  
  /* iPhone 6/7/8 Plus */

  @media (width: 414px) and (height: 736px) { 
   
    header .align-items-center { 
      width: 100%; 
      height: 95vh !important;
    }
  
    .enter {
      top: 92vh !important;
    }
  
  }
  
  /* iPad */
  @media (width: 768px) and (height: 1024px) { 
   
    header .align-items-center { 
      width: 100%; 
      height: 73vh !important;
    }
  
    .enter {
      top: 70vh !important;
    }
    
  
  }
  
    /* iPad Pro*/
  @media (width: 1024px) and (height: 1366px) { 
   
    header .align-items-center { 
      width: 100%; 
      height: 60vh !important;
    }
  
    .enter {
      top: 52vh !important;
      transform:translateY(-3%);
    }
  
  }
  
  @media (max-width: 575.98px) { 
   
   header .align-items-center { 
      width: 100%; 
      height: 65vh;
    }
  
    .enter {
      top: 65vh;
    }
  
    .section .align-items-center {
      width: 100%; 
      height: 85vh;
    }
  }
  
  @media (min-width: 768px) and (max-width: 991.98px) { 

  
    header .align-items-center { 
      width: 100%; 
      height: 50vh;
    }
  
    .enter {
      top: 50vh;
    }


  }
  
  @media (min-width: 992px) and (max-width: 1199.98px) { 
   

    
    header .align-items-center { 
      width: 100%; 
      height: 90vh;
    }
  
    .enter {
      top: 85vh;
    }
  }
  
  @media (min-width: 768px) { 
    .welcome {
      margin-top: 400px;
      font-size: 48px;
    }

    
  }

  @media (max-width: 767.98px) { 
    .welcome {
      margin-top: 200px;
      font-size: 48px;
      
    }

    
  }
  
  @media (min-width: 992px) { 
    .welcome {
      margin-top: 200px;
      font-size: 48px;
      
    }
  }


/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
  .welcome {
    margin-top: 100px;
    font-size: 42px;
    
  }
  
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
   
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
  .welcome {
    margin-top: 100px;
    font-size: 48px;
    
  }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
  .welcome {
    margin-top: 100px;
    font-size: 48px;
    
  }
 
}




/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
   
}